.facebook{
	display:flex;
	justify-content:space-evenly;
	align-items:center;
	background-color:white;
	width:700px;
	height:300px;
	padding:10px;
	border:1px solid 
}
.Logo {
	text-align:center;
}
img{
	width:100%;
}
.Logo{
	flex:2;
}
.card{
	flex:2;
}
.card{
	display:flex;
	flex-direction:column;
	border:1px solid white;
	background-color:white;
	box-shadow:2px 2px 4px black;
	padding:8px;
	justify-content:space-between;
	width:200px;
	height:200px;
}
input{
	padding:5px;
}
 h1{
	color:#1877f2;
	font-size:40px;
	margin-bottom:0px;
}
.Log-in{
	background-color:#1877f2;
	border:none;
	padding:10px;
	color:white;
	border-radius:6px;
}
.card div{
	color:#1877f2;
	text-align:center;
}
.horizantal-line{
	border:1px solid grey;
	
}
.signup{
	background-color:#42B72A;
	border: none;
    border-radius: 6px;
    font-size: 17px;
	padding:10px;
	color:white;
	width:fit-content;
	margin:0 auto;
}
a{
	text-decoration:none;
}
